<div class="d-flex flex-column align-items-center home">
<img class="m-3" src="/images/beer.png" alt="beer">

<a class="btn btn-dark m-1" href="/beers">Check the Beers!</a>
<a class="btn btn-dark m-1" href="/random-beer">Check a random Beer!</a>

</div>